{{#> layouts/profileLayout}}
  <form class="profile__body">
      {{#*inline "avatar"}}
          {{> components/avatar size="130"}}
      {{/ inline}}
      {{#*inline "info"}}
          {{>ui/input type="password" name="oldPassword" label="Старый пароль"}}
          {{>ui/input type="password" name="newPassword" label="Новый пароль"}}
          {{>ui/input type="password" name="password-check" label="Повторите новый пароль"}}
      {{/ inline}}
      {{#*inline "actions"}}
        {{>ui/button type="filled" label="Сохранить" type="submit" href="/src/html/profile.html"}}  
      {{/ inline}}
  </form>
{{/ layouts/profileLayout}} 
