{{#> layouts/appLayout}}
    <form class="login__card">
        {{#> ui/card title="Вход"}} 
            {{#*inline "content"}}
                {{>ui/input type="text" name="login" label="Логин" error="Неверный логин"}}
                {{>ui/input type="password" name="password" label="Пароль"}}
            {{/ inline}}

            {{#*inline "actions"}}
                {{>ui/button type="filled" label="Войти" type="submit" href="/src/html/chat.html"}}
                {{>ui/button type="text" label="Нет аккаунта?" href="/src/html/signin.html"}}
            {{/ inline}}
        {{/ ui/card}}
    </form>
{{/ layouts/appLayout}}
