<div class="ui-card">
    <div class="ui-card__title">
        {{title}} 
    </div>

    <div class="ui-card__content">
        {{#> content}}
            {{> @partial-block}} 
        {{/content}}
    </div>
   
    <div class="ui-card__actions">
        {{#> actions}}
            {{> @partial-block}} 
        {{/actions}}
    </div>
</div>