<footer class="chat-footer">
  <div class="chat-footer__attach">
    {{>ui/button type="text" label="attach" href="/src/html/500.html"}} 
  </div>
    <input class="chat-footer__message-input" type="text" name="message" placeholder="Сообщение"> 
  <div class="chat-footer__submit">
    {{>ui/button type="filled" label="submit" href="/src/html/500.html"}} 
  </div>
</footer>