<header class="chat-header">
  <div class="chat-header__interlocutor-info">
    <div class="chat-header__avatar-container">
        {{> components/avatar size="34"}}
    </div>
    <b>{{interlocutor.name}}</b>
  </div>
  <div class="chat-header__interlocutor-options">
    {{>ui/button type="text" label="options" href="/src/html/404.html"}}
  </div>
</header>