:root {
  --main-color: #1e1e1e;
  --primary-color: #3369f3;
  --white-color: #fff;
  --error-color: #f00;
  --secondary-color-100: #fbfbfb;
  --secondary-color-200: #efefef;
  --secondary-color-300: #eaeaea;
  --secondary-color-400: #999;
  --secondary-color-500: #52525280;
  --selection-color-100: #f8f8f8;
  --selection-color-200: #e4edfd;
}
