<div class="chat-list-item {{#if isActive}}chat-list-item_active{{/if}}">
  {{>components/avatar size="47"}}
  <div class="chat-list-item__content">
    <div class="chat-list-item__header">
      <div class="chat-list-item__username">{{username}}</div>
      <div class="chat-list-item__date">{{time}}</div>
    </div>
    <div class="chat-list-item__message">
      <div class="chat-list-item__text">
        {{#if message.isOutgoing}}<b>Вы: </b>{{/if}}
        {{message.text}}
      </div>
      {{#if messagesCount}}
        <div class="chat-list-item__counter">
          <div>{{messagesCount}}</div>
        </div>
      {{/if}}
    </div>
  </div>
</div>
